.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: '30px solid #e5e5e5';
    padding: '16px';
    margin-top: 8px;
}
.base{
    display: flex;
    gap:10px;
    margin-top: 8px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:"100%"; 
    height: "100%";
    border: 30px solid transparent;  
    border-radius: 10%; 
    padding: 16px;
    margin-top: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
}
.boxout{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    flex-direction: column      ;
    justify-content: space-evenly;
    align-items: center;
    width: "70%"; 
    height: "100%"; 
    border: 30px solid transparent; 
    border-radius: 0%; 
    padding: 16px;
    margin-top: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    padding: 16px;
}
.boxout2{
    display: flex;
    flex-direction: column;
    width: 480px;
    height:250px;
    border: 30px solid transparent; 
    border-radius: 10%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    padding: 8px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    flex-direction: column      ;
    justify-content: space-evenly;
    align-items: center;
    width: 460px; 
    height: 480px; 
    padding: 6px;
    margin-top: 8px;
}
.box2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    flex-direction: column      ;
    justify-content: space-evenly;
    align-items: center;
    width: "70%"; 
    height: 480px; 
    padding: 16px;
    margin-top: 8px;
}
.select{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    flex-direction: column      ;
    justify-content: space-evenly;
    align-items: center;
    width: 480px;   
    padding: 16px;
    margin-top: 8px;
}
.textbox{
    width: 100%;
    height: 100%; /* La Textarea ocupa todo el espacio en la última fila */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-top: 8px;
}
.datebox{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 320px; 
    height: 200px; ;  
    margin-top: 8px;
    padding: 8px;
}
.boxout3{
    display: flex;
    flex-direction: column;
    height:"100%";
    width: 400px;
    border: 30px solid transparent; 
    border-radius: 10%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    padding: 16px;
}
.tabla{
    display: flex;
    flex-direction: column;
    height:"100%";
    border: 30px solid transparent; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    padding: 16px;
}
.elementos{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px;
    align-items: center;
    border: 30px solid transparent;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    padding: 6px;
}
.add{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px;
    margin-top: 8px;
}